.card {
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px, 15px;
  margin: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 350px;
}

img {
  width: 200px;
  margin: auto;
}
